pkgbase = firefox-wayland-cachy-hg
	pkgdesc = Standalone web browser from mozilla.org (mozilla-unified hg, release branding, targeting wayland)
	pkgver = r659341.4e0bb3e
	pkgrel = 1
	url = https://www.mozilla.org/firefox/
	arch = x86_64
	license = MPL-2.0
	makedepends = git
	makedepends = git-cinnabar
	makedepends = cbindgen
	makedepends = clang
	makedepends = diffutils
	makedepends = imake
	makedepends = jack
	makedepends = lld
	makedepends = llvm
	makedepends = mesa
	makedepends = nasm
	makedepends = nodejs
	makedepends = onnxruntime
	makedepends = python
	makedepends = rust
	makedepends = tinywl
	makedepends = unzip
	makedepends = wasi-compiler-rt
	makedepends = wasi-libc
	makedepends = wasi-libc++
	makedepends = wasi-libc++abi
	makedepends = yasm
	makedepends = zip
	depends = alsa-lib
	depends = at-spi2-core
	depends = bash
	depends = cairo
	depends = dbus
	depends = ffmpeg
	depends = fontconfig
	depends = freetype2
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libgcc
	depends = libpulse
	depends = libstdc++
	depends = libevent
	depends = libjpeg-turbo
	depends = libvpx
	depends = libwebp
	depends = mime-types
	depends = pango
	depends = ttf-font
	optdepends = hunspell-en_US: Spell checking, American English
	optdepends = libnotify: Notification integration
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = onnxruntime: Local machine learning features such as smart tab groups
	optdepends = python: DMD (Dark Matter Detector) heap profiling
	optdepends = speech-dispatcher: Text-to-Speech
	optdepends = xdg-desktop-portal: Screensharing with Wayland
	provides = firefox
	conflicts = firefox
	options = !debug
	options = !emptydirs
	options = !lto
	options = !makeflags
	source = mozilla-unified::git+hg::https://hg.mozilla.org/mozilla-unified#branch=bookmarks/autoland
	source = firefox.desktop
	source = firefox-symbolic.svg
	sha256sums = SKIP
	sha256sums = cce5d87813df355555ac21f1edbe9c13442af7dc62a73c9a3ebc851883ba5883
	sha256sums = 9a1a572dc88014882d54ba2d3079a1cf5b28fa03c5976ed2cb763c93dabbd797

pkgname = firefox-wayland-cachy-hg
