pkgbase = firefox-wayland-cachy-hg
	pkgdesc = Standalone web browser from mozilla.org (mozilla-unified hg, release branding, targeting wayland)
	pkgver = r659341.4e0bb3e
	pkgrel = 1
	url = https://www.mozilla.org/firefox/
	arch = x86_64
	license = MPL-2.0
	makedepends = git-cinnabar
	makedepends = cbindgen
	makedepends = clang
	makedepends = diffutils
	makedepends = imake
	makedepends = inetutils
	makedepends = jack
	makedepends = lld
	makedepends = llvm
	makedepends = mesa
	makedepends = nasm
	makedepends = nodejs
	makedepends = python
	makedepends = rust
	makedepends = unzip
	makedepends = wasi-compiler-rt
	makedepends = wasi-libc
	makedepends = wasi-libc++
	makedepends = wasi-libc++abi
	makedepends = xorg-server-xvfb
	makedepends = yasm
	makedepends = zip
	depends = dbus
	depends = ffmpeg
	depends = gtk3
	depends = libevent
	depends = libjpeg
	depends = libpulse
	depends = libvpx
	depends = libwebp
	depends = libxt
	depends = mime-types
	depends = pipewire
	depends = ttf-font
	depends = xorg-server-xwayland
	depends = zlib
	provides = firefox
	conflicts = firefox
	options = !debug
	options = !emptydirs
	options = !lto
	options = !makeflags
	options = !strip
	source = mozilla-unified::git+hg::https://hg.mozilla.org/mozilla-unified#branch=bookmarks/autoland
	source = firefox.desktop
	source = firefox-symbolic.svg
	sha256sums = SKIP
	sha256sums = a9e5264257041c0b968425b5c97436ba48e8d294e1a0f02c59c35461ea245c33
	sha256sums = 9a1a572dc88014882d54ba2d3079a1cf5b28fa03c5976ed2cb763c93dabbd797

pkgname = firefox-wayland-cachy-hg
